
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h3>Apartment Table example</h3>
        <br />
        <table class="">

            <tr>
                <th>ID</th>
                <th>User Name</th>
            </tr>

            <tr>
                <td>1</td>
                <td>copur42s</td>
            </tr>
            <tr>
                <td>2</td>
                <td>copurrrr42s</td>
            </tr>
            <tr>
                <td>1</td>
                <td>adems42s</td>
            </tr>
            <tr>
                <td>1</td>
                <td>codemanes</td>
            </tr>
        </table>
    </div>
</body>
</html>
