@using Apartment.Entity.Concrete
@model List<User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<br />
<br />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetUserList</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h3>Kullanıcılar</h3>
        <br />
        <table class="table table-bordered">
            <tr>          
                <th>#</th>
                <th>Kullanıcı Adı</th>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Sil</th>
                <th>Güncelle</th>
                <th>Apartman</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>    
                    <th>@item.UserID</th>
                    <td>@item.UserName</td>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td><a href="/User/DeleteUser/@item.UserID" class="btn btn-danger">Sil</a></td>
                    <td><a href="/User/UpdateUser/@item.UserID" class="btn btn-warning">Güncelle</a></td>
                    <td><a href="#" class="btn btn-primary">Apartman</a></td>    
                </tr>
            }
        </table>
    </div>
    <a href="/User/AddUser" class="btn btn-info">Yeni User</a>
</body>
</html>
